# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.env
pyvenv.cfg
PromptAI
PromptAI/Scripts

# Next.js
.next/
out/
node_modules/
.DS_Store
*.pem
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-workspace
*.sublime-project

# Testing
coverage/
.coverage
htmlcov/
.pytest_cache/
.tox/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
/build
.env.production